SL/Service References/TerminalWebSVC/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TerminalWeb" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITerminalWeb_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITerminalWeb_LoginOrInsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginOrInsertUser" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_LoginOrInsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginOrInsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetTemplateFake_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateFake" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetTemplateFake_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateFakeResponse" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetGraficoFake_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGraficoFake" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetGraficoFake_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGraficoFakeResponse" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetObjetoFake_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoFake" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetObjetoFake_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjetoFakeResponse" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetIndicatorFake_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndicatorFake" />
  </wsdl:message>
  <wsdl:message name="ITerminalWeb_GetIndicatorFake_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndicatorFakeResponse" />
  </wsdl:message>
  <wsdl:portType name="ITerminalWeb">
    <wsdl:operation name="LoginOrInsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminalWeb/LoginOrInsertUser" message="tns:ITerminalWeb_LoginOrInsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminalWeb/LoginOrInsertUserResponse" message="tns:ITerminalWeb_LoginOrInsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateFake">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminalWeb/GetTemplateFake" message="tns:ITerminalWeb_GetTemplateFake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminalWeb/GetTemplateFakeResponse" message="tns:ITerminalWeb_GetTemplateFake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGraficoFake">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminalWeb/GetGraficoFake" message="tns:ITerminalWeb_GetGraficoFake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminalWeb/GetGraficoFakeResponse" message="tns:ITerminalWeb_GetGraficoFake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjetoFake">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminalWeb/GetObjetoFake" message="tns:ITerminalWeb_GetObjetoFake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminalWeb/GetObjetoFakeResponse" message="tns:ITerminalWeb_GetObjetoFake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndicatorFake">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminalWeb/GetIndicatorFake" message="tns:ITerminalWeb_GetIndicatorFake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminalWeb/GetIndicatorFakeResponse" message="tns:ITerminalWeb_GetIndicatorFake_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITerminalWeb" type="tns:ITerminalWeb">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITerminalWeb_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginOrInsertUser">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/LoginOrInsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetTemplateFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraficoFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetGraficoFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjetoFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetObjetoFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndicatorFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetIndicatorFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITerminalWeb1" type="tns:ITerminalWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginOrInsertUser">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/LoginOrInsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetTemplateFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraficoFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetGraficoFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjetoFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetObjetoFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndicatorFake">
      <soap:operation soapAction="http://tempuri.org/ITerminalWeb/GetIndicatorFake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminalWeb">
    <wsdl:port name="BasicHttpBinding_ITerminalWeb" binding="tns:BasicHttpBinding_ITerminalWeb">
      <soap:address location="https://webservice.traderdata.com.br/tweb2/service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITerminalWeb1" binding="tns:BasicHttpBinding_ITerminalWeb1">
      <soap:address location="http://win-fcb6tivvodr/tweb2/service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>