SL/Service References/TerminalWebSVC/terminal-web1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8787/terminal-web?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" />
  <xs:import schemaLocation="http://localhost:8787/terminal-web?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RetornaTodasAnalises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTodasAnalisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaTodasAnalisesResult" nillable="true" type="q1:ArrayOfAnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaUltimaAnalise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaUltimaAnaliseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaUltimaAnaliseResult" nillable="true" type="q2:AnaliseCompartilhadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBVSPRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBVSPRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaPrecoBVSPRTResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBMFRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBMFRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaPrecoBMFRTResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBVSPDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBVSPDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaPrecoBVSPDELAYResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBMFDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBMFDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaPrecoBMFDELAYResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBVSPEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBVSPEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaPrecoBVSPEODResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBMFEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPrecoBMFEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaPrecoBMFEODResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPRTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPDELAYResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPEODResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBMFRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBMFRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBMFRTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBMFDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBMFDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBMFDELAYResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBMFEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBMFEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBMFEODResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTBMFRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTBMFRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPRTBMFRTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTBMFDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTBMFDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPRTBMFDELAYResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTBMFEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPRTBMFEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPRTBMFEODResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYBMFRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYBMFRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPDELAYBMFRTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODBMFRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODBMFRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPEODBMFRTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYBMFDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYBMFDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPDELAYBMFDELAYResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYBMFEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPDELAYBMFEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPDELAYBMFEODResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODBMFDELAY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODBMFDELAYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPEODBMFDELAYResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODBMFEOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaLinkPagamentoBVSPEODBMFEODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaLinkPagamentoBVSPEODBMFEODResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplatePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplatePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetTemplatePorIdResult" nillable="true" type="q3:TemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplatesPorUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplatesPorUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetTemplatesPorUserIdResult" nillable="true" type="q4:ArrayOfTemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkspaceDefaultPorDistribuidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distribuidorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkspaceDefaultPorDistribuidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetWorkspaceDefaultPorDistribuidorResult" nillable="true" type="q5:WorkspaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkspaceDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="User" nillable="true" type="q6:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkspaceDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetWorkspaceDefaultResult" nillable="true" type="q7:WorkspaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkspace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="workspace" nillable="true" type="q8:WorkspaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkspaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="grafico" nillable="true" type="q9:GraficoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraficoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaGraficoPorAtivoPeriodicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicidade" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaGraficoPorAtivoPeriodicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaGraficoPorAtivoPeriodicidadeResult" nillable="true" type="q10:ArrayOfGraficoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileS3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileS3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScannerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idScanner" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScannerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetScannerByIdResult" nillable="true" type="q11:ScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScanners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScannersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetScannersResult" nillable="true" type="q12:ArrayOfScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCondicoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCondicoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetCondicoesResult" nillable="true" type="q13:ArrayOfCondicaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="scannerDTO" nillable="true" type="q14:ScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="SaveScannerResult" nillable="true" type="q15:ScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="scannerDTO" nillable="true" type="q16:ScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScannerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParcelaByCondicao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condicaoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParcelaByCondicaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetParcelaByCondicaoResult" nillable="true" type="q17:ArrayOfCondicaoParcelaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultadoScanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scannerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultadoScannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="GetResultadoScannerResult" nillable="true" type="q18:ArrayOfResultadoScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReProcessaScanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="scanner" nillable="true" type="q19:ScannerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReProcessaScannerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirBackTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="BacktestDTO" nillable="true" type="q20:BacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirBackTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="IncluirBackTestResult" nillable="true" type="q21:BacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaBackTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="BacktestDTO" nillable="true" type="q22:BacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaBackTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiBackTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="backTest" nillable="true" type="q23:BacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiBackTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaBackTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="user" nillable="true" type="q24:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaBackTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaBackTestsResult" nillable="true" type="q25:ArrayOfBacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTemplateBacktest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="templateDTO" nillable="true" type="q26:TemplateBacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTemplateBacktestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaTemplateBacktest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="templateDTO" nillable="true" type="q27:TemplateBacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaTemplateBacktestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiTemplateBacktest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="templateDTO" nillable="true" type="q28:TemplateBacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiTemplateBacktestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTemplatesBacktest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="user" nillable="true" type="q29:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTemplatesBacktestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaTemplatesBacktestResult" nillable="true" type="q30:ArrayOfTemplateBacktestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaSumarioResultadoBacktest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBackTest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaSumarioResultadoBacktestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaSumarioResultadoBacktestResult" nillable="true" type="q31:SumarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereMensagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="mensagem" nillable="true" type="q32:MensagemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereMensagemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPortfolios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="user" nillable="true" type="q33:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaPortfoliosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="RetornaPortfoliosResult" nillable="true" type="q34:ArrayOfPortfolioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="LoginResult" nillable="true" type="q35:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserDistribuidorIntegrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distribuidor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserDistribuidorIntegradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="LoginUserDistribuidorIntegradoResult" nillable="true" type="q36:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="usuario" nillable="true" type="q37:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="InserirUsuarioResult" nillable="true" type="q38:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="LoginUserFacebookResult" nillable="true" type="q39:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="user" nillable="true" type="q40:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="EditarUsuarioResult" nillable="true" type="q41:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSegmentosResult" nillable="true" type="q42:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosPorSegmento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="segmento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosPorSegmentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosPorSegmentoResult" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIndicesResult" nillable="true" type="q44:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosPorIndice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosPorIndiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosPorIndiceResult" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBMFTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBMFTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBMFTodosResult" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBMFMini">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBMFMiniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBMFMiniResult" nillable="true" type="q47:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBMFCheio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBMFCheioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBMFCheioResult" nillable="true" type="q48:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBovespaTodosResult" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaVista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaVistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBovespaVistaResult" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaOpcao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaOpcaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBovespaOpcaoResult" nillable="true" type="q51:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaTermo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosBovespaTermoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosBovespaTermoResult" nillable="true" type="q52:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoDiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCotacaoDiarioResult" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoIntraday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDiasCorridos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoIntradayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCotacaoIntradayResult" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoIntradayDelayed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDiasCorridos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoIntradayDelayedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCotacaoIntradayDelayedResult" nillable="true" type="q55:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoIntradayDoDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoIntradayDoDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCotacaoIntradayDoDiaResult" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="TemplateDTO" nillable="true" type="q57:TemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" minOccurs="0" name="templateDTO" nillable="true" type="q58:TemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluiTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>