SL/Service References/TerminalWebSVC/terminal-web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.App.TerminalWeb.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8787/terminal-web?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAnaliseCompartilhadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnaliseCompartilhadaDTO" nillable="true" type="tns:AnaliseCompartilhadaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnaliseCompartilhadaDTO" nillable="true" type="tns:ArrayOfAnaliseCompartilhadaDTO" />
  <xs:complexType name="AnaliseCompartilhadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaminhoImagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grafico" nillable="true" type="tns:GraficoDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnaliseCompartilhadaDTO" nillable="true" type="tns:AnaliseCompartilhadaDTO" />
  <xs:complexType name="GraficoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Layouts" nillable="true" type="tns:ArrayOfLayoutDTO" />
      <xs:element minOccurs="0" name="Left" type="xs:int" />
      <xs:element minOccurs="0" name="Periodicidade" type="xs:int" />
      <xs:element minOccurs="0" name="Top" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
      <xs:element minOccurs="0" name="WorkspaceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraficoDTO" nillable="true" type="tns:GraficoDTO" />
  <xs:complexType name="ArrayOfLayoutDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LayoutDTO" nillable="true" type="tns:LayoutDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLayoutDTO" nillable="true" type="tns:ArrayOfLayoutDTO" />
  <xs:complexType name="LayoutDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorBordaCandleAlta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorBordaCandleBaixa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorCandleAlta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorCandleBaixa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorEscala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorFundo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorGrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DarvaBox" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EspacoADireitaDoGrafico" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EspacoAEsquerdaDoGrafico" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EstiloBarra" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstiloPreco" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstiloPrecoParam1" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EstiloPrecoParam2" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FirstVisibleRecord" type="xs:int" />
      <xs:element minOccurs="0" name="GradeHorizontal" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GradeVertical" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GraficoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Indicadores" nillable="true" type="tns:ArrayOfIndicadorDTO" />
      <xs:element minOccurs="0" name="Objetos" nillable="true" type="tns:ArrayOfObjetoEstudoDTO" />
      <xs:element minOccurs="0" name="Paineis" nillable="true" type="tns:ArrayOfPainelDTO" />
      <xs:element minOccurs="0" name="PainelInfo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Periodicidade" type="xs:int" />
      <xs:element minOccurs="0" name="PosicaoEscala" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrecisaoEscala" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEscala" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsarCoresAltaBaixaVolume" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="VisibleRecords" type="xs:int" />
      <xs:element minOccurs="0" name="VolumeStrokeThickness" type="xs:int" />
      <xs:element minOccurs="0" name="ZoomRealtime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LayoutDTO" nillable="true" type="tns:LayoutDTO" />
  <xs:complexType name="ArrayOfIndicadorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndicadorDTO" nillable="true" type="tns:IndicadorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndicadorDTO" nillable="true" type="tns:ArrayOfIndicadorDTO" />
  <xs:complexType name="IndicadorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorFilha1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorFilha2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Espessura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EspessuraFilha1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EspessuraFilha2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndexPainel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parametros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIndicador" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoLinha" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoLinhaFilha1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoLinhaFilha2" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="IndicadorDTO" nillable="true" type="tns:IndicadorDTO" />
  <xs:complexType name="ArrayOfObjetoEstudoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjetoEstudoDTO" nillable="true" type="tns:ObjetoEstudoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjetoEstudoDTO" nillable="true" type="tns:ArrayOfObjetoEstudoDTO" />
  <xs:complexType name="ObjetoEstudoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorObjeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Espessura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndexPainel" type="xs:int" />
      <xs:element minOccurs="0" name="InfinitaADireita" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="Magnetica" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Parametros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordFinal" type="xs:int" />
      <xs:element minOccurs="0" name="RecordInicial" type="xs:int" />
      <xs:element minOccurs="0" name="TamanhoTexto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoLinha" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoObjeto" type="xs:int" />
      <xs:element minOccurs="0" name="ValorErrorChannel" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorFinal" type="xs:double" />
      <xs:element minOccurs="0" name="ValorInicial" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjetoEstudoDTO" nillable="true" type="tns:ObjetoEstudoDTO" />
  <xs:complexType name="ArrayOfPainelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PainelDTO" nillable="true" type="tns:PainelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPainelDTO" nillable="true" type="tns:ArrayOfPainelDTO" />
  <xs:complexType name="PainelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altura" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPainel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PainelDTO" nillable="true" type="tns:PainelDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BMFDELAY" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BMFEOD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BMFRT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BovespaDELAY" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BovespaEOD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BovespaRT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistribuidorId" type="xs:int" />
      <xs:element minOccurs="0" name="FBToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasBMFDELAY" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasBMFRT" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasBovespaDELAY" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasBovespaRT" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSnapshotBMFDiario" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSnapshotBMFIntraday" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSnapshotBovespaDiario" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSnapshotBovespaIntraday" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasTrial" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefId" type="xs:int" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="TemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Layouts" nillable="true" type="tns:ArrayOfLayoutDTO" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodicidade" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateDTO" nillable="true" type="tns:TemplateDTO" />
  <xs:complexType name="ArrayOfTemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateDTO" nillable="true" type="tns:TemplateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateDTO" nillable="true" type="tns:ArrayOfTemplateDTO" />
  <xs:complexType name="WorkspaceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Graficos" nillable="true" type="tns:ArrayOfGraficoDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkspaceDTO" nillable="true" type="tns:WorkspaceDTO" />
  <xs:complexType name="ArrayOfGraficoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraficoDTO" nillable="true" type="tns:GraficoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraficoDTO" nillable="true" type="tns:ArrayOfGraficoDTO" />
  <xs:complexType name="ScannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnviarEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListaAtivos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaCondicoes" nillable="true" type="tns:ArrayOfCondicaoDTO" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodicidade" type="xs:int" />
      <xs:element minOccurs="0" name="PublicarFacebook" type="xs:boolean" />
      <xs:element minOccurs="0" name="Resultados" nillable="true" type="tns:ArrayOfResultadoScannerDTO" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScannerDTO" nillable="true" type="tns:ScannerDTO" />
  <xs:complexType name="ArrayOfCondicaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CondicaoDTO" nillable="true" type="tns:CondicaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCondicaoDTO" nillable="true" type="tns:ArrayOfCondicaoDTO" />
  <xs:complexType name="CondicaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comando" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListaParcelas" nillable="true" type="tns:ArrayOfCondicaoParcelaDTO" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CondicaoDTO" nillable="true" type="tns:CondicaoDTO" />
  <xs:complexType name="ArrayOfCondicaoParcelaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CondicaoParcelaDTO" nillable="true" type="tns:CondicaoParcelaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCondicaoParcelaDTO" nillable="true" type="tns:ArrayOfCondicaoParcelaDTO" />
  <xs:complexType name="CondicaoParcelaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CondicaoId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdBackTest" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoApresentacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoFisico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoFisicoEnumerado" type="tns:CondicaoParcelaDTO.TipoFisicoEnum" />
      <xs:element minOccurs="0" name="ValorDouble" type="xs:double" />
      <xs:element minOccurs="0" name="ValorInteiro" type="xs:int" />
      <xs:element minOccurs="0" name="ValorString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CondicaoParcelaDTO" nillable="true" type="tns:CondicaoParcelaDTO" />
  <xs:simpleType name="CondicaoParcelaDTO.TipoFisicoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Double" />
      <xs:enumeration value="Int" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Desconhecido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CondicaoParcelaDTO.TipoFisicoEnum" nillable="true" type="tns:CondicaoParcelaDTO.TipoFisicoEnum" />
  <xs:complexType name="ArrayOfResultadoScannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoScannerDTO" nillable="true" type="tns:ResultadoScannerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoScannerDTO" nillable="true" type="tns:ArrayOfResultadoScannerDTO" />
  <xs:complexType name="ResultadoScannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abertura" type="xs:double" />
      <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fechamento" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Maximo" type="xs:double" />
      <xs:element minOccurs="0" name="Minimo" type="xs:double" />
      <xs:element minOccurs="0" name="ScannerId" type="xs:int" />
      <xs:element minOccurs="0" name="Variacao" type="xs:double" />
      <xs:element minOccurs="0" name="Volume" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoScannerDTO" nillable="true" type="tns:ResultadoScannerDTO" />
  <xs:complexType name="ArrayOfScannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScannerDTO" nillable="true" type="tns:ScannerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScannerDTO" nillable="true" type="tns:ArrayOfScannerDTO" />
  <xs:complexType name="BacktestDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SumarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CondicoesEntrada" nillable="true" type="tns:ArrayOfCondicaoDTO" />
          <xs:element minOccurs="0" name="CondicoesSaida" nillable="true" type="tns:ArrayOfCondicaoDTO" />
          <xs:element minOccurs="0" name="ConsiderarCorretagemMaisEmolumento" type="xs:boolean" />
          <xs:element minOccurs="0" name="DataInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataInicioStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataTermino" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataTerminoStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="LiquidarPosicaoFinalPeriodo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualStopGain" type="xs:double" />
          <xs:element minOccurs="0" name="PercentualStopLoss" type="xs:double" />
          <xs:element minOccurs="0" name="Periodicidade" type="xs:int" />
          <xs:element minOccurs="0" name="PeriodicidadeEnumerado" type="tns:BacktestDTO.TipoPeriodicidadeEnum" />
          <xs:element minOccurs="0" name="PermitirOperacaoDescoberto" type="xs:boolean" />
          <xs:element minOccurs="0" name="SairEmStopGain" type="xs:boolean" />
          <xs:element minOccurs="0" name="SairEmStopLoss" type="xs:boolean" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="StatusEnumerado" type="tns:BacktestDTO.StatusEnum" />
          <xs:element minOccurs="0" name="StatusStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoPreco" type="xs:int" />
          <xs:element minOccurs="0" name="TipoPrecoEnumerado" type="tns:BacktestDTO.TipoPrecoEnum" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioDTO" />
          <xs:element minOccurs="0" name="ValorCorretagem" type="xs:double" />
          <xs:element minOccurs="0" name="ValorExposicaoMaxima" type="xs:double" />
          <xs:element minOccurs="0" name="VolumeFinanceiroInicial" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BacktestDTO" nillable="true" type="tns:BacktestDTO" />
  <xs:complexType name="SumarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OpBemSucedidas" type="xs:int" />
      <xs:element minOccurs="0" name="OpMalSucedidas" type="xs:int" />
      <xs:element minOccurs="0" name="Operacoes" nillable="true" type="tns:ArrayOfResultadoBacktestDTO" />
      <xs:element minOccurs="0" name="PosicaoFinal" type="xs:int" />
      <xs:element minOccurs="0" name="QtdStopGain" type="xs:int" />
      <xs:element minOccurs="0" name="QtdStopLoss" type="xs:int" />
      <xs:element minOccurs="0" name="QtdTrades" type="xs:int" />
      <xs:element minOccurs="0" name="ResultadoFinal" type="xs:double" />
      <xs:element minOccurs="0" name="ResultadoMaximo" type="xs:double" />
      <xs:element minOccurs="0" name="ResultadoMedio" type="xs:double" />
      <xs:element minOccurs="0" name="ResultadoMinimo" type="xs:double" />
      <xs:element minOccurs="0" name="ResultadoTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SumarioDTO" nillable="true" type="tns:SumarioDTO" />
  <xs:complexType name="ArrayOfResultadoBacktestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoBacktestDTO" nillable="true" type="tns:ResultadoBacktestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoBacktestDTO" nillable="true" type="tns:ArrayOfResultadoBacktestDTO" />
  <xs:complexType name="ResultadoBacktestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustodiaParcial" type="xs:double" />
      <xs:element minOccurs="0" name="DataHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdBackTest" type="xs:int" />
      <xs:element minOccurs="0" name="Operacao" type="xs:int" />
      <xs:element minOccurs="0" name="Preco" type="xs:double" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:double" />
      <xs:element minOccurs="0" name="Rentabilidade" type="xs:double" />
      <xs:element minOccurs="0" name="RentabilidadeAcumulada" type="xs:double" />
      <xs:element minOccurs="0" name="SaldoParcial" type="xs:double" />
      <xs:element minOccurs="0" name="SaldoTotal" type="xs:double" />
      <xs:element minOccurs="0" name="StopGainAtingido" type="xs:boolean" />
      <xs:element minOccurs="0" name="StopLossAtingido" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoBacktestDTO" nillable="true" type="tns:ResultadoBacktestDTO" />
  <xs:simpleType name="BacktestDTO.TipoPeriodicidadeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UmMinuto" />
      <xs:enumeration value="DoisMinutos" />
      <xs:enumeration value="TresMinutos" />
      <xs:enumeration value="CincoMinutos" />
      <xs:enumeration value="DezMinutos" />
      <xs:enumeration value="QuinzeMinutos" />
      <xs:enumeration value="TrintaMinutos" />
      <xs:enumeration value="SessentaMinutos" />
      <xs:enumeration value="Diario" />
      <xs:enumeration value="Semanal" />
      <xs:enumeration value="Mensal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BacktestDTO.TipoPeriodicidadeEnum" nillable="true" type="tns:BacktestDTO.TipoPeriodicidadeEnum" />
  <xs:simpleType name="BacktestDTO.StatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Executado" />
      <xs:enumeration value="EmExecucao" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BacktestDTO.StatusEnum" nillable="true" type="tns:BacktestDTO.StatusEnum" />
  <xs:simpleType name="BacktestDTO.TipoPrecoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Abertura" />
      <xs:enumeration value="Minimo" />
      <xs:enumeration value="Medio" />
      <xs:enumeration value="Maximo" />
      <xs:enumeration value="Ultimo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BacktestDTO.TipoPrecoEnum" nillable="true" type="tns:BacktestDTO.TipoPrecoEnum" />
  <xs:complexType name="ArrayOfBacktestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BacktestDTO" nillable="true" type="tns:BacktestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBacktestDTO" nillable="true" type="tns:ArrayOfBacktestDTO" />
  <xs:complexType name="TemplateBacktestDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BacktestDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateBacktestDTO" nillable="true" type="tns:TemplateBacktestDTO" />
  <xs:complexType name="ArrayOfTemplateBacktestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateBacktestDTO" nillable="true" type="tns:TemplateBacktestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateBacktestDTO" nillable="true" type="tns:ArrayOfTemplateBacktestDTO" />
  <xs:complexType name="MensagemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MensagemDTO" nillable="true" type="tns:MensagemDTO" />
  <xs:complexType name="ArrayOfPortfolioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortfolioDTO" nillable="true" type="tns:PortfolioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortfolioDTO" nillable="true" type="tns:ArrayOfPortfolioDTO" />
  <xs:complexType name="PortfolioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colunas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publico" type="xs:boolean" />
      <xs:element minOccurs="0" name="TamanhoColunas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioDTO" nillable="true" type="tns:PortfolioDTO" />
</xs:schema>