SL/Service References/MDApiSVC/MarketDataWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketDataWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMarketDataWCF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://app-ext.traderdata.com.br/md-api/MDAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://app-ext.traderdata.com.br/md-api/MDAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://app-ext.traderdata.com.br/md-api/MDAPI.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://app-ext.traderdata.com.br/md-api/MDAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketDataWCF_ValidaToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaToken" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_ValidaToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_RetornaTimeDifferenceBetweenUTCAndExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaTimeDifferenceBetweenUTCAndExchange" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_RetornaTimeDifferenceBetweenUTCAndExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaTimeDifferenceBetweenUTCAndExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_RetornaDataDoServidor_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaDataDoServidor" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_RetornaDataDoServidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaDataDoServidorResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetCorretoras_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCorretoras" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetCorretoras_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCorretorasResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetSegmentos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSegmentos" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetSegmentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSegmentosResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetIndices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndices" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetIndices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndicesResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetAtivos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivos" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetAtivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivosResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetAtivosByIndice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivosByIndice" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetAtivosByIndice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtivosByIndiceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetCotacao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCotacao" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetCotacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCotacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetTrades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrades" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetTrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradesResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetPrincipaisCompradores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrincipaisCompradores" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetPrincipaisCompradores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrincipaisCompradoresResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetPrincipaisVendedores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrincipaisVendedores" />
  </wsdl:message>
  <wsdl:message name="IMarketDataWCF_GetPrincipaisVendedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrincipaisVendedoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketDataWCF">
    <wsdl:operation name="ValidaToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/ValidaToken" message="tns:IMarketDataWCF_ValidaToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/ValidaTokenResponse" message="tns:IMarketDataWCF_ValidaToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornaTimeDifferenceBetweenUTCAndExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/RetornaTimeDifferenceBetweenUTCAndExchange" message="tns:IMarketDataWCF_RetornaTimeDifferenceBetweenUTCAndExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/RetornaTimeDifferenceBetweenUTCAndExchangeResponse" message="tns:IMarketDataWCF_RetornaTimeDifferenceBetweenUTCAndExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDataDoServidor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/RetornaDataDoServidor" message="tns:IMarketDataWCF_RetornaDataDoServidor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/RetornaDataDoServidorResponse" message="tns:IMarketDataWCF_RetornaDataDoServidor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCorretoras">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetCorretoras" message="tns:IMarketDataWCF_GetCorretoras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetCorretorasResponse" message="tns:IMarketDataWCF_GetCorretoras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSegmentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetSegmentos" message="tns:IMarketDataWCF_GetSegmentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetSegmentosResponse" message="tns:IMarketDataWCF_GetSegmentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetIndices" message="tns:IMarketDataWCF_GetIndices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetIndicesResponse" message="tns:IMarketDataWCF_GetIndices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetAtivos" message="tns:IMarketDataWCF_GetAtivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetAtivosResponse" message="tns:IMarketDataWCF_GetAtivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtivosByIndice">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetAtivosByIndice" message="tns:IMarketDataWCF_GetAtivosByIndice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetAtivosByIndiceResponse" message="tns:IMarketDataWCF_GetAtivosByIndice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCotacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetCotacao" message="tns:IMarketDataWCF_GetCotacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetCotacaoResponse" message="tns:IMarketDataWCF_GetCotacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrades">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetTrades" message="tns:IMarketDataWCF_GetTrades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetTradesResponse" message="tns:IMarketDataWCF_GetTrades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrincipaisCompradores">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetPrincipaisCompradores" message="tns:IMarketDataWCF_GetPrincipaisCompradores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetPrincipaisCompradoresResponse" message="tns:IMarketDataWCF_GetPrincipaisCompradores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrincipaisVendedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataWCF/GetPrincipaisVendedores" message="tns:IMarketDataWCF_GetPrincipaisVendedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataWCF/GetPrincipaisVendedoresResponse" message="tns:IMarketDataWCF_GetPrincipaisVendedores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketDataWCF" type="tns:IMarketDataWCF">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMarketDataWCF_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaToken">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/ValidaToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaTimeDifferenceBetweenUTCAndExchange">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/RetornaTimeDifferenceBetweenUTCAndExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDataDoServidor">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/RetornaDataDoServidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorretoras">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetCorretoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentos">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetSegmentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetIndices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtivos">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetAtivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtivosByIndice">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetAtivosByIndice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCotacao">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetCotacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrades">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetTrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrincipaisCompradores">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetPrincipaisCompradores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrincipaisVendedores">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetPrincipaisVendedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMarketDataWCF1" type="tns:IMarketDataWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaToken">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/ValidaToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaTimeDifferenceBetweenUTCAndExchange">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/RetornaTimeDifferenceBetweenUTCAndExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDataDoServidor">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/RetornaDataDoServidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorretoras">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetCorretoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentos">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetSegmentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetIndices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtivos">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetAtivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtivosByIndice">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetAtivosByIndice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCotacao">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetCotacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrades">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetTrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrincipaisCompradores">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetPrincipaisCompradores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrincipaisVendedores">
      <soap:operation soapAction="http://tempuri.org/IMarketDataWCF/GetPrincipaisVendedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketDataWCF">
    <wsdl:port name="BasicHttpBinding_IMarketDataWCF" binding="tns:BasicHttpBinding_IMarketDataWCF">
      <soap:address location="https://app-ext.traderdata.com.br/md-api/MDAPI.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMarketDataWCF1" binding="tns:BasicHttpBinding_IMarketDataWCF1">
      <soap:address location="http://win-bhfev05ht8l/md-api/MDAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>