SL/Service References/MDApiSVC/MDAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app-ext.traderdata.com.br/md-api/MDAPI.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://app-ext.traderdata.com.br/md-api/MDAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" />
  <xs:element name="ValidaToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTimeDifferenceBetweenUTCAndExchange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaTimeDifferenceBetweenUTCAndExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaTimeDifferenceBetweenUTCAndExchangeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaDataDoServidor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaDataDoServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornaDataDoServidorResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCorretoras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCorretorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCorretorasResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSegmentosResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incluirAtivos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIndicesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="querySymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="exchange" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" minOccurs="0" name="formatoEntrega" type="q4:AtivoDTO.ReturnType" />
        <xs:element minOccurs="0" name="segmento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosByIndice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtivosByIndiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAtivosByIndiceResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Traderdata.Server.Core.DTO" minOccurs="0" name="basePeriodicity" type="q7:CotacaoDTO.BasePeriodicity" />
        <xs:element minOccurs="0" name="compression" type="xs:int" />
        <xs:element minOccurs="0" name="de" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="delay" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="maxBarras" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nominal" type="xs:boolean" />
        <xs:element minOccurs="0" name="afterMarket" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCotacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCotacaoResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="de" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="orderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="limiteTrades" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTradesResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrincipaisCompradores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFrom" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrincipaisCompradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrincipaisCompradoresResult" nillable="true" type="q10:ArrayOfKeyValueOfintdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrincipaisVendedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFrom" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrincipaisVendedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrincipaisVendedoresResult" nillable="true" type="q11:ArrayOfKeyValueOfintdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>